html {
  font-size: 13px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:#fdd7dd;
}

.header{
    display:flex;
    align-items:center;
    justify-content:center;
    height:4.5rem;
    background:pink;
}

.header-non-home{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  height:4.5rem;
  background:pink;
}

.header-non-home .title{
  margin-left:26.3rem;
}

.header-non-home button{
  margin-left:2rem;
}

.title{
  font-family: 'Fugaz One', cursive;
  font-size:3rem;
  color:rgb(85, 59, 40);
}

.main-body{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  margin-left:4rem;
}

p{
  margin:2rem;
  font-size:2rem;
  font-family: 'Ubuntu', sans-serif;
  color:rgb(85, 59, 40);
}

.footer{
    height:5rem;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    background:pink;
}

button{
  height:3rem;
  width:3rem;
  border-radius:70%;
  background:white;
  border-color: rgb(226, 109, 164);
}

button:hover{
  background:rgb(255, 149, 167);
}

button svg{
  color:rgb(255, 149, 167);
  height:1rem;
  width:1rem;
}

button:hover svg{
  color:white;
}

.profile-information{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  gap:3rem;
  margin-top:1.7rem;
  font-family: 'Ubuntu', sans-serif;
  font-size:2rem;
}

.profile-pic{
  border-radius:70%;
  outline-style:solid;
  outline-color:rgb(226, 109, 164);
  outline-width:0.2rem;
  height:8rem;
  width:8rem;
}

.name-picker{
  margin-top:3.6rem;
}

.name-picker svg{
  margin-left:0.5rem;
}

.user-bio{
  width:30rem;
  margin-top:1.7rem;
  outline-style:solid;
  outline-color:rgb(85, 59, 40);
  outline-width:0.15rem;
  font-size:1rem;
  background-color: #fdd7dd;
  font-family: 'Ubuntu', sans-serif;
  padding:1rem;
}

.user-bio svg{
  margin-left:0.5rem;
}

.users-posts{
  margin-top:1.6rem;
}

.profile-settings{
  margin-left:22.5rem;
  height:24rem;
  width:30rem;
  outline: solid 0.175rem rgb(85, 59, 40);
  padding:2rem;
  background-color:#fdd7dd;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1.3rem;
}

.profile-settings-button{
  height:3rem;
  width:3rem;
  border-radius:70%;
}

.submit-info-btn{
  font-family: 'Ubuntu', sans-serif;
  height:7rem;
  width:9rem;
  border-radius:50%;
}
